.calendar {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border-radius: 8px;
    border: 1px solid var(--grey-3);
}

.calendar_content {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 70%;
    height: 70%;
    gap: 10%;
}

.calendar_title {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: bottom;
    text-align: center;
    color: var(--blue-dark);
}

.calendar_week {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: bottom;
    color: var(--grey-3);
}

.calendar_days {
    display: grid;
    grid-template-rows: repeat(5 auto); 
    grid-template-columns: repeat(7, auto); 
    justify-content: stretch;
    justify-items: stretch;

    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--blue-dark);
}

.calendar_date {
    align-content: center;
    padding: 10%;
}

.calendar_date__border {
    background-color: var(--blue);
    color: var(--white);
}

.calendar_date__selected {
    background-color: var(--blue-light);
}