.background {
    width: 100vw;
    height: 100vh;

    @media (max-width: 768px) {
        background: url("./public/forest_400.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        background: url("./public/forest_768.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @media (min-width: 1024px) and (max-width: 2560px) {
        background: url("./public/forest_1024.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @media (min-width: 2560px) {
        background: url("./public/forest_2560.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}